[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
mypy = "*"
pylint = "*"
result = "*"
click = "*"
requests = "*"
rich = "*"
pyserial = "*"
bitstring = "*"
pyyaml = "*"
appdirs = "*"
aiohttp = "*"
textual = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
