[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
mypy = "*"
coloredlogs = "*"
pylint = "*"
result = "*"
click = "*"
requests = "*"
rich = "*"
pyserial = "*"
kivy = { version = "*", platform_machine = "!= 'aarch64'" }
bitstring = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
