@import diptestbed.domain.DIPTestbedConfig
@import diptestbed.web.views.html._
@(
  appConfig: DIPTestbedConfig,
  loginForm: Form[(String, String)],
  title: String,
  action: String
)(implicit
  messages: play.api.i18n.Messages,
  request: Request[_]
)
@content = {
  <div class="px-4 py-5 my-5">
    <div class="col-lg-6 mx-auto">
      <h1 class="display-5 fw-bold">@(title)</h1>
      @helper.form(action=Call("POST", action)) {
        @helper.CSRF.formField
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username">
          <div class="mt-1">
          @for(error <- loginForm.errors("username")) {
            <div class="alert alert-danger" role="alert">@error.format</div>
          }
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
          <div class="mt-1">
          @for(error <- loginForm.errors("password")) {
            <div class="alert alert-danger" role="alert">@error.format</div>
          }
          </div>
        </div>
        <div class="mt-1">
        @for(error <- loginForm.globalErrors) {
          <div class="alert alert-danger" role="alert">@error.format</div>
        }
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      }
    </div>
  </div>
}
@base(appConfig, appConfig.makeTitle(title), None, content)
