@import diptestbed.domain.DIPTestbedConfig
@import diptestbed.domain.User
@import diptestbed.domain.Hardware
@import diptestbed.web.views.html._
@(
  appConfig: DIPTestbedConfig,
  user: Option[User],
  hardwares: List[Hardware]
)(implicit
  request: Request[_]
)
@headerRow = {
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Owner ID</th>
  </tr>
}
@dataRows = {
  @for(hardware <- hardwares) {
    <tr>
      <th scope="row">@(hardware.id.value.toString)</th>
      <td>@(hardware.name)</td>
      <td>@(hardware.ownerId.value.toString)</td>
    </tr>
  }
}
@content = {
  @entityList(headerRow, dataRows, hardwares.isEmpty, "Hardware")
}
@base(appConfig, appConfig.makeTitle("Hardware list"), user, content)
