@import diptestbed.domain.DIPTestbedConfig

@(appConfig: DIPTestbedConfig)
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="@(appConfig.withAppPath("/"))" class="nav-link px-2 text-white">
                    Home
                </a></li>
                <li><a href="https://github.com/kshaa/dip-testbed-dist/releases" class="nav-link px-2 text-white">
                    <span>Downloads</span>
                    <i class="mx-2 fa-solid fa-arrow-up-right-from-square"></i>
                </a></li>
                <li><a href="https://github.com/kshaa/dip-testbed-dist/blob/master/README.md#dip-testbed" class="nav-link px-2 text-white">
                    <span>About</span>
                    <i class="mx-2 fa-solid fa-arrow-up-right-from-square"></i>
                </a></li>
            </ul>

            <div class="text-end">
                <a href="@(appConfig.withAppPath("/login"))">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                </a>
                <a href="@(appConfig.withAppPath("/register"))">
                    <button type="button" class="btn btn-warning">Register</button>
                </a>
            </div>
        </div>
    </div>
</header>
