@import diptestbed.domain.DIPTestbedConfig
@import diptestbed.domain.User
@import diptestbed.domain.SoftwareMeta
@import diptestbed.web.views.html._
@(
  appConfig: DIPTestbedConfig,
  user: Option[User],
  softwares: List[SoftwareMeta]
)(implicit
  request: Request[_]
)
@headerRow = {
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Owner ID</th>
    <th scope="col"></th>
  </tr>
}
@dataRows = {
  @for(software <- softwares) {
    <tr>
      <th scope="row">@(software.id.value.toString)</th>
      <td>@(software.name)</td>
      <td>@(software.ownerId.value.toString)</td>
      <td>
        <a target="_blank" href="@(appConfig.withApiPath(s"/software/${software.id.value}/download"))">
          <button type="button" class="btn btn-sm btn-primary">
            <span>Download</span>
            <i class="mx-2 fa-solid fa-arrow-up-right-from-square"></i>
          </button>
        </a>
      </td>
    </tr>
  }
}
@content = {
  @entityList(headerRow, dataRows, softwares.isEmpty, "Software")
}
@base(appConfig, appConfig.makeTitle("Software list"), user, content)
