@import diptestbed.domain.DIPTestbedConfig
@import diptestbed.domain.User
@import diptestbed.web.views.html._
@(
  appConfig: DIPTestbedConfig,
  user: Option[User],
  users: List[User]
)(implicit
  request: Request[_]
)
@headerRow = {
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Username</th>
    <th scope="col">Is manager</th>
    <th scope="col">Is lab owner</th>
    <th scope="col">Is developer</th>
  </tr>
}
@dataRows = {
  @for(user <- users) {
    <tr>
      <th scope="row">@(user.id.value.toString)</th>
      <td>@(user.username)</td>
      <td>@(user.isManager)</td>
      <td>@(user.isLabOwner)</td>
      <td>@(user.isDeveloper)</td>
    </tr>
  }
}
@content = {
  @entityList(headerRow, dataRows, users.isEmpty, "User")
}
@base(appConfig, appConfig.makeTitle("User list"), user, content)
