@import diptestbed.domain.DIPTestbedConfig
@import diptestbed.domain.User
@import diptestbed.web.views.html._
@(
  appConfig: DIPTestbedConfig,
  user: Option[User],
  users: List[User],
  permissionsForm: Form[(String, Boolean, Boolean, Boolean)]
)(implicit
  messages: play.api.i18n.Messages,
  request: Request[_]
)
@headerRow = {
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Username</th>
    <th scope="col">Is manager</th>
    <th scope="col">Is lab owner</th>
    <th scope="col">Is developer</th>
    <th scope="col"></th>
  </tr>
}
@dataRows = {
  @for(user <- users) {
    <tr>
      @helper.form(action=Call("POST", appConfig.withAppPath("/user/permissions"))) {
        @helper.CSRF.formField
        <input type="text" name="user_id" value="@(user.id.value)" hidden>
        <th scope="row">@(user.id.value.toString)</th>
        <td>@(user.username)</td>
        <td>
            <div class="d-flex align-items-center">
              <input type="checkbox" name="is_manager" @if(user.isManager) { checked }>
            </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <input type="checkbox" name="is_lab_owner" @if(user.isLabOwner) { checked }>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <input type="checkbox" name="is_developer" @if(user.isDeveloper) { checked }>
          </div>
        </td>
        <td>
          <button type="submit" class="btn btn-sml btn-primary">Save permissions</button>
        </td>
      }
    </tr>
  }
}
@content = {
  <div class="px-4">
    <h1 class="display-5 fw-bold">User list</h1>
    @for(error <- permissionsForm.errors) {
      <div class="alert alert-danger" role="alert">@error.format</div>
    }
    @entityList(headerRow, dataRows, users.isEmpty, "User")
  </div>
}
@base(appConfig, appConfig.makeTitle("User list"), user, content)
